---
import BrandLogo from "@components/BrandLogo.astro";
import Container from "@components/Container.astro";
import Announcement from "@components/Announcement.astro";
import { button, ghostButton, outlinedButton } from "@tailus/themer-button";
import { cn } from "@lib/utils";

const links = [
    {
        to: "/#features",
        label: "How it Works",
    },
    {
        to: "/#solution",
        label: "Solution",
    },
    {
        to: "https://docs.anarchy.ai",
        label: "Docs",
    },
];
---

<div id="announcement-container">
    <Announcement />
</div>

<header class="sticky top-10 z-40 bg-white dark:bg-gray-900 shadow-lg"> <!-- Adjusted top value to account for the announcement bar -->
    <Container>
        <div class="flex items-center justify-between py-3 md:py-4 lg:py-6">
            <BrandLogo />
            <nav class="hidden lg:flex items-center space-x-6">
                {links.map((link) => (
                    <a href={link.to} class="hover:text-gray-950 dark:hover:text-white">
                        {link.label}
                    </a>
                ))}
            </nav>
            <div class="hidden lg:flex items-center space-x-4">
                <a href="https://hqmelywdmux.typeform.com/to/Igbg4n9V" class={cn(ghostButton.gray.sm)}>
                    Contact Sales
                </a>
                <a href="https://chat.dev/dashboard" class={cn(button.neutral.sm)}>
                    Platform
                </a>
            </div>
            <div class="lg:hidden">
                <button aria-label="hamburger" id="hamburger" class="p-6">
                    <div class="h-0.5 w-5 bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                    <div class="h-0.5 w-5 mt-2 bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                </button>
            </div>
        </div>
        <div id="navlinks" class="hidden lg:hidden flex-col items-center space-y-4">
            {links.map((link) => (
                <a href={link.to} class="hover:text-gray-950 dark:hover:text-white">
                    {link.label}
                </a>
            ))}
            <a href="https://hqmelywdmux.typeform.com/to/Igbg4n9V" class={cn(outlinedButton.gray.sm)}>
                Contact Sales
            </a>
            <a href="https://chat.dev/dashboard" class={cn(button.neutral.sm)}>
                Platform
            </a>
        </div>
    </Container>
</header>

<style>
  #hamburger:focus + #navlinks,
  #hamburger:hover + #navlinks {
    display: flex;
  }

  @media (min-width: 1024px) {
    #navlinks {
      display: none !important;
    }
  }
</style>