---
import Container from "./Container.astro";
import { softVariant as card } from "@tailus/themer-card";
import { cn } from "@lib/utils";
---

<section class="text-gray-600 dark:text-gray-300 scroll-mt-24" id="reviews">
  <Container>
    <div class="text-center">
      <h2 class="text-3xl text-gray-950 dark:text-white font-semibold md:text-4xl">Used by Thousands of AI Developers</h2>
      <p class="mt-4 text-gray-600 dark:text-gray-400">Devs around the world use Anarchy's LLMOps platform to build state-of-the-art AIs.</p>
    </div>
    <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-3">
        <div class="space-y-3">
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “Anarchy.ai has transformed the way I interact with AI. The platform’s ability to fine-tune models on my data effortlessly is a game-changer. I can now deploy optimized AI solutions swiftly, ensuring high performance and reliability. Truly, a real gold mine.”
                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Jonathan Yombo</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “With Anarchy.ai, I redesigned my entire AI infrastructure in a day. The intuitive interface and powerful tools make it easy to integrate and manage datasets, streamlining my workflow significantly. It’s the ideal solution for developers looking to maximize efficiency.”
                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Yves Kalume</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “Great work on the Anarchy.ai platform. It’s one of the best AI management tools I’ve used so far. The ability to customize and deploy models quickly has made it an invaluable resource for my projects.”
                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Yucel Faruksahan</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “I’m new to AI development, and Anarchy.ai has been incredibly user-friendly. The platform’s comprehensive documentation and easy-to-follow guides have made it possible for me to create and deploy AI models effectively. It’s clear and straightforward, perfect for beginners.”                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Anonymous author</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-3">
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “Anarchy.ai redefines the standard for AI development platforms. Its robust feature set and flexibility make it easy to build, fine-tune, and deploy models quickly. I can’t recommend it enough for anyone serious about AI innovation.”                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Shekinah Tshiokufila</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “I absolutely love Anarchy.ai! The platform’s tools are beautifully designed and easy to use, making the creation of high-performing AI models a breeze. It’s a must-have for any developer looking to leverage AI effectively.”                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Oketa Fred</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “Using Anarchy.ai has been like unlocking a secret AI superpower. Its blend of simplicity and versatility allows me to create UIs that are as stunning as they are functional, making it a crucial tool in my development toolkit.”                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Zeki</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “Anarchy has significantly accelerated my development process. Its extensive collection of tools and templates allows for unparalleled customization and efficiency. It’s a game-changer for modern AI development.”                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Joseph Kitheka</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-3">
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “Anarchy.ai’s elegant and clean interface is a joy to work with. It’s responsive and highly efficient, making it easy to start projects quickly and effectively. I highly recommend it for anyone looking to streamline their AI workflows.”                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Khatab Wedaa</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “I love Anarchy.ai ❤️. The platform’s well-structured components are simple to use and beautifully designed, making it easy to create high-quality AI solutions really quickly.”                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Rodrigo Aguilar</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “Anarchy's data platform is perfect for creating beautiful and functional AI models without extensive design experience. They are customizable and responsive, with excellent support. Highly recommended for anyone looking to innovate in AI.”</p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Eric Ampire</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <div class="w-full">
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                “Anarchy.ai is so well designed that even with minimal knowledge of AI development, you can achieve remarkable results. It’s a testament to the platform’s user-friendliness and effectiveness.”                            </p>
                            <p class="font-bold italic text-gray-600 dark:text-gray-400 mt-2">- Roland Tubonge</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </Container>
</section>